<!-- <div ng-show="showError">
	Oops something went wrong please try again.
</div>
<button ui-sref="home">back</button>

<div>

	<div style="border: 1px solid red;" ng-repeat="recepient in recepientsList | filter:{requestCategory:'EDUCATION'}"	>
		<button type="button" class="btn btn-success" ng-click="gotoRecepient(request.recipient.userId)"> P1</button>


	</div>
	
</div>

 -->


<div class="container">

	<div>
		<div ng-show="showError">
			Oops something went wrong please try again.
		</div>
		<button ui-sref="home">back</button>
	</div>

	<div class="row" >
		<div class="col-sm-6 col-md-4 col-lg-3 mt-4" ng-repeat="request in recepientsList | filter:{requestCategory:'EDUCATION'}"	>
			<div class="card" ng-click="gotoRecepient(request.recipient.userId)">
				<img class="card-img-top" data-ng-src='{{request.recipient.image.imageUrl}}'>
				
				<div class="card-footer">
					<span><i class=""></i>{{request.recipient.userName}}</span>
				</div>
			</div>
		</div>
	</div>
</div>