<div ng-show="showError">
	Oops something went wrong please try again.
</div>
<button ui-sref="home">back</button>

<div>
<!--
 ng-repeat="recepient in recepientsList"
-->
	<div style="border: 1px solid red;">
		<button type="button" class="btn btn-success" ng-click="gotoRecepient('1')"> P1</button>
	</div>
	<div style="border: 1px solid red;">
		<button type="button" class="btn btn-success" ng-click="gotoRecepient('2')"> P2</button>
	</div>
	<div style="border: 1px solid red;">
		<button type="button" class="btn btn-success" ng-click="gotoRecepient('3')"> P3</button>
	</div>
	<div style="border: 1px solid red;">
		<button type="button" class="btn btn-success" ng-click="gotoRecepient('4')"> P4</button>
	</div>
</div>